[Unit]
Description=Rack Dashboard Backend
After=network-online.target
Wants=network-online.target

[Service]
# Replace 'pidash' with your username if different
# Replace 'pidash' with your username if different
User=root
Group=root

# Adjust path if your repo is elsewhere
WorkingDirectory=/home/pidash/Documents/pidash/backend

# Use the venv python
ExecStart=/home/pidash/Documents/pidash/backend/venv/bin/python3 main.py

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
